<!-- myapp/templates/myapp/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <title>Advocato</title>
    <link rel="icon" type="image/x-icon" href='static/assets/images/favicon.png'>
</head>
<body>
    <script src="{% static 'assets/styles/script.js' %}"></script>
    <h1 class="name">ADVOCATO</h1>
    <h4 class="sub_name">WE MAKE RESOURCES FOR MANKIND BETTER.</h4>

    <div class="menu">
        <a href="{% url 'spain_form' %}"><button type="button" class="index_button">
            FOR SPAIN'S WOMEN <span class="icon"></span></button></a>
        <a href="{% url 'contact' %}"><button type="button" class="index_button">
            CONTACT US <span class="icon"></span></button></a>
        <a href="{% url 'portfolio' %}"><button type="button" class="index_button">
            OUR PORTFOLIO <span class="icon"></span></button></a>
        <a href="{% url 'story' %}"><button type="button" class="index_button">
            OUR STORY <span class="icon"></span></button></a>
    </div>


    <div class="user_entries">
        <a href="{% url 'login' %}"><button type="button" class="user_buttons">
            LOGIN</button></a>
        <a href="{% url 'register' %}"><button type="button" class="user_buttons">
            REGISTER</button></a>
    </div>
</body>
</html>
