<!-- myapp/templates/myapp/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <title>Advocato</title>
    <link rel="icon" type="image/x-icon" href='static/assets/images/favicon.png'>
</head>
<body>
    <h1 class="name">ADVOCATO</h1>
    <h4 class="sub_name">WE MAKE RESOURCES FOR MANKIND BETTER.</h4>
        <a href="{% url 'index' %}"><button type="button" class="page_button">
            <span class="page_icon"></span> BACK </button></a>
</body>
</html>
