{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <title>Advocato</title>
    <link rel="icon" type="image/x-icon" href='static/assets/images/favicon.png'>
</head>
<body>
    <script src="{% static 'assets/styles/script.js' %}"></script>
    <h1 class="name">ADVOCATO</h1>
    <h4 class="sub_name">WE MAKE RESOURCES FOR MANKIND BETTER.</h4>
        <a href="{% url 'index' %}"><button type="button" class="page_button">
            <span class="page_icon"></span> BACK </button></a>
    
            {% if page == 'login' %}
            <div class="menu">
                <form method="POST" action="" style="background:none">
                    {% csrf_token %}
                    <label>Username</label>
                    <input label='login_'type="text" name="username" placeholder="Enter Username" required class="login_values">
            
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter Password" required class="login_values">
            
                    <input type="submit" value="Login">
                </form>
            
                <a href="{% url 'register' %}" class="user_buttons">Sign Up</a>
            
            </div>
            
            {% else %}
            
            <div style="margin-top: 50px; color:white; font-size: 14px; width: 800px;">
                <form method="POST" action="" style="background:none">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Register" class="login_button">
                </form>
                
                <a href="{% url 'login' %}" class="user_buttons" style="margin-top:70px;">Login</a>
            
            </div>
            {% endif %}
            

</body>
</html>
