{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <title>Advocato</title>
    <link rel="icon" type="image/x-icon" href='static/assets/images/favicon.png'>
</head>
<body class="spain_form_body">
    <script src="{% static 'assets/styles/script.js' %}"></script>
    <h1 class="spain_form_project_name">ADVOCATO</h1>
    <h4 class="spain_form_project_sub_name">WE MAKE RESOURCES FOR MANKIND BETTER.</h4>
        <a href="{% url 'spain_form' %}"><button type="button" class="project_page_button">
            BACK</button></a>

        



</body>
</html>