.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #070D29;
    animation: fill 4s infinite;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}







body {
    background-image: url('../images/indexlook.png');
    background-size: cover; /* Optional, to cover the entire background */
    margin-left: 80px;
    margin-top: 130px;
    padding: 0;
    font-family: 'B612';
    transition: opacity 1s ease-in-out;
    opacity: 0;

}


.name {
    margin-top: 20px;
    font-size: 70px;;
    color: white;
    letter-spacing: .5rem;
    
}

.sub_name {
    margin-top: -30px;
    margin-bottom: 100px;
    font-size: 14px;
    color: white;
    letter-spacing: .2rem;

}

.menu {
    width: 700px;
    margin-left: -20px;
}


.index_button {
    border-color: #12E1B9;
    border-radius: 1px;
    background: none;
    color: #12E1B9;
    text-align: center;
    text-decoration: none;
    padding: 16px 30px;
    margin: 10px 10px;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block; 
    width: 270px;
    box-sizing: border-box;
    letter-spacing: .2rem;

}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'B612';
    src: url('../fonts/NeueMachina-Light.otf');
}

.icon {
    display: inline-block;
    margin-left: 10px;
    border: solid #12E1B9;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform 0.4s;
    transform: rotate(-45deg);
}

.index_button:hover .icon {
    transform: rotate(-13deg) translateX(15px); /* Move the icon on hover */
}


.page_button {
    border-color: #12E1B9;
    border-radius: 0.5px;
    background: none;
    color: #12E1B9;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block; 
    width: 120px;
    box-sizing: border-box;
    letter-spacing: .2rem;
    margin-top: -80px;

}

.page_icon {
    display: inline-block;
    margin-right: 10px;
    border: solid #12E1B9;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform 0.4s;
    transform: rotate(130deg);
}

.page_button:hover .page_icon {
    transform: rotate(-90deg) translateX(-8px); /* Move the icon on hover */
}

.paragraphs {
    color: white;
    margin-top: 80px;
}

.user_buttons {
    background: none;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    display: block;
    letter-spacing: .2rem;
    text-align: left;
    position: relative;
}

.user_buttons::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #12E1B9;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleY(0);
    transition: transform 0.3s;
}

.user_buttons:hover::after {
    transform: scaleY(1);
}


.user_entries {
    margin-top: 200px;
    margin-left: -20px;
    text-align: left;
}


.project_name {
    font-size: 14px;
    margin-left: 10px;
    color: #12E1B9;
    letter-spacing: .5rem;
}

.project_sub_name {
    margin-bottom: 100px;
    margin-left: 10px;
    font-size:6px;
    color: #12E1B9;
    letter-spacing: .1rem;

}

.project_body {
    background: #070D29;
    margin-top: 30px;
    margin-left: 10px;
    padding: 0;
    font-family: 'B612';
    text-align: center;
}

.project_page_button {
    border: 1px solid #12E1B9;
    background: none;
    color: #12E1B9;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 10px;
    transition: color 0.4s, border-color 0.4s;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: .2rem;
    padding-left: 13px;

    /* Position the button in the top left corner */
    position: fixed; 
    top: 0; 
    left: 0; 
    margin: 20px 20px; 
}

.project_page_button:hover {
    border-color: white;
    color: white;
}

/* Container to center and layout the sections in a row */
.project_about {
    margin-top: 130px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.project_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.project_section, .project_main_text {
    text-align: center; 
    color: #12E1B9;
}

.project_section {
    margin-bottom: -10px;
    font-size: 18px;
}

.project_main_text {
    color: white;
    font-size: 20px;
    margin-left:0px;
    margin-right:0px;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.project_main_button {
    border: 1px solid #12E1B9;
    background: none;
    color: #12E1B9;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: .2rem;
    padding-left: 13px;
    margin-top: 20px;
    transition: color 0.4s, border-color 0.4s;
}

.project_main_button::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #12E1B9;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleY(0);
    transition: transform 0.3s;
}

.project_main_button:hover::after {
    transform: scaleY(1);
}

.project_main_button:hover {
    color: white;
}

.project_paragraph {
    border: 1px solid #12E1B9;
    border-radius: 0.5px;
    color: #12E1B9;    
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    width: 230px;
    height: 250px;
    padding: 20px;
}

.project_image {
    display: block;
    margin: 0 auto; /* Center horizontally */
    width: 470px;
    height: 290px;
}

.start {
    margin-top: -50px;
}

@media (max-width: 768px) {
    .project_about {
        flex-direction: column;
        align-items: center;
    }
}

.contact_form {
    max-width: 500px;
    margin-left: -20px;
    padding: 20px;
    font-family: 'B612';

}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
    background-color: transparent;
    font-family: 'B612';
    color: white;
    border: 1px solid #12E1B9;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.contact_form input[type="submit"] {
    background-color: transparent;
    font-family: 'B612';
    color: #12E1B9;
    border: 1px solid #12E1B9;
    padding: 10px 20px;
    cursor: pointer;
}

.contact_form input[type="submit"]:hover {
    background-color: transparent;
    font-family: 'B612';
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
}

.contact_form textarea {
    resize: vertical;
    min-height: 100px;
}

.portfolio_year {
    margin-top: 80px;
    font-size: 14px;
    color: white;
    letter-spacing: .5rem;
    margin-bottom: -40px;

    /* Blue line styling */
    border-bottom: 1px solid #12E1B9; 
    padding-bottom: 2px;
    width: fit-content; 
}


.portfolio_project {
    display: flex;
    position: absolute;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 80px;
    font-family: 'B612';
    text-align: center;
    margin-left: -10px;
}

.portfolio_image {
    margin: 0 auto; /* Center horizontally */
    width: 210px;
    height: 140px;
}

.portfolio_button {
    border-color: #12E1B9;
    border-radius: 1px;
    background: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 30px;
    margin: 0px 10px;
    font-size: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block; 
    width: 210px;
    box-sizing: border-box;
    letter-spacing: .2rem;

}

.portfolio_button:hover {
    border-color: white;
    color: white;
}

.register_style {
    font-size: 14px;
    color: #12E1B9;
    /* Blue line styling */
    border-bottom: 1px solid white; 
    padding-bottom: 2px;
    width: fit-content; 
}


.spain_form_body {
    background-image: url('../images/spain.jpg');
    background-size: cover; /* Optional, to cover the entire background */
    margin-top: 30px;
    margin-left: 10px;
    padding: 0;
    font-family: 'B612';
    transition: opacity 1s ease-in-out;
    text-align: center;
    align-items: center;
    opacity: 0;
}

.spain_form_project_name {
    font-size: 14px;
    color: #12E1B9;
    letter-spacing: .5rem;
    top: 0px;
}

.spain_form_project_sub_name {
    margin-bottom: 100px;
    font-size:6px;
    color: #12E1B9;
    letter-spacing: .1rem;

}